.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  /* max-width: 1200px; /* The grid will not exceed 1200px in width */
  gap: 1.5rem;
}
.card {
  /* transition: all 0.3s ease; */
  background-color: var(--card-bg);
  border-radius: 0.875rem;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .card-header {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/0.7;
  border-radius: 0.875rem 0.875rem 0 0;
}
.card .card-header img {
  width: 100%;
  height: 100%;
  transition: all 350ms ease;
}
.card .card-header img:hover {
  transform: scale(1.2);
}
.card .card-header .direction-wrapper {
  position: absolute;
  bottom: 2.5rem;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  overflow: clip;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.0625rem solid rgb(156 163 175);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.card:hover .card-header .direction-wrapper {
  transform: translateX(-40%);
}
.card .card-header .direction-wrapper a {
  color: #000000;
  text-decoration: none;
  padding: 0.75rem;
}
.card:hover .card-header .direction-wrapper a:hover {
  background: url("/assets/icon-bg.png") no-repeat center;
  background-size: 100% 100%;
  color: #ffffff;
}
.card .card-header .direction-wrapper i {
  font-size: 1.5rem;
}

.card .card-content {
  border-top: 0.065rem solid var(--gray-300);
  padding: 0.75rem;
}

/* Footer */
footer a {
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--card-bg);
  color: var(--text-black-900);
  border-radius: 50%;
}
footer a:hover {
  background: url("/assets/icon-bg.png") no-repeat center;
  background-size: 100% 100%;
  color: #ffffff;
}
footer a i {
  font-size: 1.5rem;
}
