/* Start Card */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  /* max-width: 1200px; /* The grid will not exceed 1200px in width */
  gap: 1.5rem;
}
.card {
  /* transition: all 0.3s ease; */
  overflow: hidden;
  background-color: var(--card-bg);
  border-radius: 0.875rem;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .card-header {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/0.8;
  border-radius: 0.875rem 0.875rem 0 0;
}
.card .card-header img {
  width: 100%;
  height: 100%;
}

.card .card-header .overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.0625rem solid rgb(156 163 175);
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .card-header .overlay-wrapper {
  opacity: 1;
}
.card:hover .card-header img {
  transform: scale(1.2);
}

.card .card-header .overlay-wrapper a {
  position: relative;
  color: #000000;
  text-decoration: none;
  padding: 0.75rem;
  /* backdrop-filter: blur(0.25rem); */
  transition: 250ms ease;
}
.card .card-header .overlay-wrapper a:hover {
  color: #ffffff;
}
.card:hover .card-header .overlay-wrapper a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: url("/assets/icon-bg.png") no-repeat center;
  background-size: 100% 100%;
  opacity: 0;
  transition: 0.5s;
}
.card:hover .card-header .overlay-wrapper a:hover::before {
  opacity: 1;
}

.card .card-header .overlay-wrapper i {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
}

.card .card-content {
  border-top: 0.065rem solid var(--gray-300);
  padding: 1.55rem 0.75rem 1rem 0.75rem;
}
.card .card-content .title {
  color: var(--text-black-900);
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}
.card .card-content .description {
  color: var(--grey-text);
  font-size: 0.95rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  line-clamp: 1;
  text-overflow: ellipsis;
}
/* End Card */

/* Typing */
.typing {
  color: transparent;
  background: var(--purple-yellow-grad);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -moz-background-clip: text;
}

/* Start Navigation */
.side-nav .link-wrapper {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  text-decoration: none;
}
.side-nav .link-wrapper a {
  text-decoration: none;
}
.hamburger-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    background-color: var(--card-bg);
    backdrop-filter: blur(3rem);
    z-index: 1;
    transition: 300ms ease;
  }
  .w-60 {
    width: 60%;
  }
  .side-nav .link-wrapper {
    flex-direction: column;
  }
  .hamburger-btn {
    display: inline-block;
  }
}
/* End Navigation */

/* Start Footer */
footer {
  padding: 2rem 0;
}
footer a {
  position: relative;
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--card-bg);
  color: var(--text-black-900);
  border-radius: 50%;
  transition: 0.3s ease;
}

footer a::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("/assets/icon-bg.png") no-repeat center;
  background-size: 100% 100%;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}
footer a:hover::before {
  opacity: 1;
}
footer a i {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
footer a:hover i {
  color: #ffffff;
}
/* End Footer */
