p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Flex Property */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

/* Text Property */
.text-base {
  font-size: 1rem;
}

.text-xs {
  font-size: 0.75rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Spacing Property */
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mr-auto {
  margin-right: auto;
}

.gradient-title {
  --purple: rgba(128, 0, 128, 0.6);
  --green: rgba(0, 128, 0, 0.5);
  --cyan: rgba(0, 255, 255, 0.7);
  color: transparent;
  background: var(--purple-yellow-grad);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -moz-background-clip: text;
}

.gradient-text {
  color: transparent;
  background: linear-gradient(to left, rgba(var(--purple-2)), rgba(var(--red)));
  -webkit-background-clip: text;
}

/* start hero section */
.heroSection {
  min-height: calc(100lvh - 4rem);
}
.heroSection > div {
  padding: 5rem 0;
}
/* end hero section */

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
