.style-switcher {
  position: fixed;
  right: 0;
  top: 3.75rem;
  padding: 1rem;
  width: 11.4rem;
  border: 0.063rem solid var(--bg-black-50);
  background: var(--bg-black-100);
  color: #111;
  z-index: 2;
  border-radius: 5px;
  transition: all 0.5s ease;
  transform: translateX(100%);
}

.open-switcher {
  transform: translateX(-1.5rem);
}

.style-switcher .s-icon {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 0.063rem solid var(--bg-black-50);
  margin-right: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  line-height: 2.5rem;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 3.5rem;
}

.style-switcher h4 {
  margin: 0 0 0.6rem;
  color: var(--text-black-700);
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switcher .colors span {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 0.063rem solid red;
  cursor: pointer;
}

.style-switcher .color-1 {
  background: #ec1839;
}
.style-switcher .color-2 {
  background: #fa5b0f;
}
.style-switcher .color-3 {
  background: #37b182;
}
.style-switcher .color-4 {
  background: #1854b4;
}
.style-switcher .color-5 {
  background: #f021b2;
}
